@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
  --greydark: #dcdcdc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    /* --greydark: #dcdcdc; */
  }
}

body {
  font-size: 16px;
  color: var(--greydark);
  font-family: var(--font-onest);
  font-weight: 400;
  line-height: 22px;
  background-color: var(--background);
}

h1 {
  font-family: var(--font-neuemontreal);
  font-weight: 400;
}

h2,
h3,
h4 {
  font-family: var(--font-neuemontreal);
  font-weight: 500;
}

h1 {
  font-size: 75px;
  line-height: 80px;
}

h2 {
  font-size: 50px;
  line-height: 70px;
}

h3 {
  font-size: 45px;
  line-height: 50px;
}

h3 {
  font-size: 40px;
  line-height: 40px;
}

h4 {
  font-size: 30px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--font-quicksand);
}

.pt-100 {
  padding-top: 100px;
}

.line:before {
  content: "";
  vertical-align: middle;
  background: #fffc;
  border-radius: 10px;
  width: 40px;
  height: 3px;
  margin-right: 8px;
  display: inline-block;
}

/* buttons  */
.btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  position: relative;
  color: #fff;
  border: 1px solid #535353;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  backdrop-filter: blur(12px);
  overflow: hidden;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #121212 12%, #272727 48.13%, #121212 85%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn-primary:hover::before {
  opacity: 1;
}
/* buttons  */

/* navbar-section */
header .container {
  max-width: 100%;
}
/* navbar-section */

/* hero-section */
.hero-section {
  position: relative;
  padding-top: 130px;
  background-image: url("/images/Union.png");
  fill: radial-gradient(
    50% 50% at 50% 50%,
    rgba(155, 155, 155, 0.2) 0%,
    rgba(155, 155, 155, 0) 100%
  );
  /* opacity: 0.6; */
}

.hero-section h2 {
  font-weight: 400;
  background: linear-gradient(
    313deg,
    rgba(155, 155, 155, 0.5) 4.92%,
    rgba(237, 235, 232, 0.5) 49.51%,
    rgba(155, 155, 155, 0.5) 93.21%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* hero-section */

/* service-section */
.service-section .card {
  border-radius: 15px;
  background: rgba(25, 25, 25, 0.6);
  padding: 36px;
}
/* service-section */

/* media query minimum-width */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* media query minimum-width */
